{% extends 'layout/basic.html' %}

{% load humanize %}
{% load static %}
{% load comments %}
{% load django_bootstrap5 %}

{% block title %}
    {{ object }}
{% endblock %}

{% block content %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-circle me-2" style="font-size: 24px;"></i>
  <div>
    Ни одна публикация, ни любой другой материал, опубликаванные на этом сайте, не являются инвестиционными рекомендациями!
  </div>
</div>
<div class="mb-5">
    <h1>
        <div class="d-flex justify-content-start">
            {{ article.title }}
            <form class="ms-5" action="{% url 'articles:bookmark_article' article.slug %}" method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    {% if bookmarked %}
                        <button class="btn btn-outline-light border" type="submit" name="article_id" value="{{ article.id }}">
                            <i class="bi bi-bookmark-check-fill text-success fs-5"></i>
                        </button>
                    {% else %}
                        <button class="btn btn-outline-light border" type="submit" name="article_id" value="{{ article.id }}">
                            <i class="bi bi-bookmark text-success fs-5"></i>
                        </button>
                    {% endif %}
                {% endif %}
            </form>
        </div>



    </h1>
    <a class="link-secondary" href="
        {% if article.author.is_superuser %}
            {% url 'articles:list_view' %}
        {% else %}
            {% url 'users:profile_view' article.author.username %}
        {% endif %}" style="text-decoration: none;">
        {% if article.author.photo %}
            {% if article.author.is_superuser %}

            {% else %}
                <img width="24" height="24" class="rounded-circle mb-2" src="{{ article.author.photo.url }}" alt="">
            {% endif %}
        {% else %}
            <i class="bi bi-person-circle text-dark" style="font-size: 24px;"></i>
        {% endif %}
        {% if article.author.is_superuser %}
                            <span class="badge bg-dark text-secondary me-1"><em>{{ request.get_host }}</em></span>
                    {% else %}
        <em class="text-secondary">@{{ article.author.username }}</em>
        {% endif %}
    </a>
    <br>
    <small class="me-1">
        Опубликовано: {{ article.post_date|naturalday }}
    </small>
    {% if user == article.author %}
    <small>
        <a href="{% url 'articles:update_view' article.slug %}">Обновить</a>
    </small>
    <small>
        <a href="{% url 'articles:delete_view' article.slug %}">Удалить</a>
    </small>
    {% endif %}
</div>

<div class="mb-5">
    <div>
        {% if article.title_image %}
            <img src="{{ article.title_image.url }}" width="50%" alt="{{ article.title }}" class="border rounded">
        {% endif %}
    </div>

    <p>
        {{ article.body|safe }}
    </p>
</div>

    <p>
        {% for tag in article.tags.all %}
            #<a href="{% url 'articles:articles_by_tags' tag %}">{{ tag }}</a>
        {% endfor %}
    </p>
    <hr>
    <p>
        {% for security in article.stocks_etfs_or_bonds.all %}
            <span class="badge border bg-light text-dark">
                {% if security.icon %}
                    <img src="{{ security.icon.url }}" width="16" alt="{{ security.icon }}" class="align-bottom">
                {% else %}
                    <img width="16" src="{% static 'stocksetfsbonds/img/museum.png' %}" alt="{{ security.name }}" class="align-bottom">
                {% endif %}
                <a href="{% url 'securities:security_detail' security.slug %}">
                    {{ security.ticker }}
                </a>
            </span>





        {% endfor %}



<div class="mx-md-5">


            <h3 class="my-4">Комментарии {% get_comment_count for article as comment_count %} {% if comment_count %}<span class="badge bg-light text-dark border rounded-pill"> {{ comment_count }}</span>{% endif %}</h3>

        {% if comment_count %}
            {% get_comment_list for article as comment_list %}



            {% for comment in comment_list %}
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                      <small class="card-title mb-3">
                          <a class="" href="{% if comment.user.is_superuser %}
                                        {% url 'articles:list_view' %}
                                    {% else %}
                                        {% url 'users:profile_view' comment.user.username %}
                                    {% endif %}" style="text-decoration: none;">

                          {% if comment.user.photo %}
                              {% if comment.user.is_superuser %}

                            {% else %}
                                <img width="24" height="24" class="rounded-circle me-1" src="{{ comment.user.photo.url }}" alt="">
                            {% endif %}

                          {% else %}
                            <i class="bi bi-person-circle text-dark" style="font-size: 24px;"></i>
                          {% endif %}
                              {% if comment.user.is_superuser %}
                            <span class="badge bg-dark text-secondary me-1"><em>{{ request.get_host }}</em></span>
                    {% else %}
                          <span class="link-secondary">

                              <em>
                                  @{{ comment.user }}
                              </em>
                          </span>
                              {% endif %}
                          </a>
                      </small>
                      <p class="card-text mt-1 mb-1">
                          {{ comment.comment }}
                      </p>
                      <p class="card-text mt-1"><small class="text-muted">{{ comment.submit_date|naturaltime }}</small></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            {% get_comment_form for article as form %}
            <form action="{% comment_form_target %}" method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_field form.comment show_label=False %}
                {% bootstrap_field form.honeypot show_label=False %}
                {% bootstrap_field form.content_type %}
                {% bootstrap_field form.object_pk %}
                {% bootstrap_field form.timestamp %}
                {% bootstrap_field form.security_hash %}
                {% bootstrap_button button_type="submit" content="Отправить" size='sm' button_class='btn btn-primary'  %}
                <input type="hidden" name="next" value="{% url 'articles:detail_view' article.slug %}" />
            </form>
        {% else %}
            <p>Пожалуйста, <a href="{% url 'users:login' %}">войдите</a>, чтобы оставить комментарий.</p>
        {% endif %}

<br>
    <br>
    <a class="btn btn-outline-primary" href="{% url 'articles:list_view' %}">Назад</a>
</div>
    </div>





{% endblock %}