{% extends 'layout/basic.html' %}

{% load humanize %}
{% load static %}

{% block title %}
    Stocks
{% endblock %}



{% block content %}

<div class="mt-4">
    {% for article in articles_list %}
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <small>
                    {% if user.is_superuser %}
                        <span class="text-secondary me-1"><i class="bi bi-eye-fill me-1"></i>{{ article.views }}</span>
                    {% endif %}
                    {% for tag in article.tags.all %}
                        <a class="text-decoration-none me-1" href="{% url 'articles:articles_by_tags' tag %}">#{{ tag }}</a>
                    {% endfor %}
                </small>
                <h1>
                    <a class="text-decoration-none" href="{% url 'articles:detail_view' article.slug %}">{{ article }}</a>
                </h1>

                <small class="me-1 text-secondary">
                    <b class="me-1">{{ article.post_date|naturalday }}</b>
                    {% if article.author.is_superuser %}
                    <span class="badge bg-dark text-secondary me-1"><em>{{ request.get_host }}</em></span>
                    {% else %}
                    <a style="text-decoration: none;" class="link-secondary me-1" href="{% url 'users:profile_view' article.author.username %}"><em>@{{ article.author.username }}</em></a>
                    {% endif %}
                </small>
                {% if user == article.author %}
                <small>
                    <a href="{% url 'articles:update_view' article.slug %}">Обновить</a>
                    <a href="{% url 'articles:delete_view' article.slug %}">Удалить</a>
                </small>
                {% endif %}
                <p class="mt-4 mb-4">
                    {{ article.description }}
                </p>
                {% for security in article.stocks_etfs_or_bonds.all %}
                    <span class="badge border bg-light text-dark">
                        {% if security.icon %}
                            <img src="{{ security.icon.url }}" width="16" alt="{{ security.icon }}" class="align-bottom">
                        {% else %}
                            <img width="16" src="{% static 'stocksetfsbonds/img/museum.png' %}" alt="{{ security.name }}" class="align-bottom">
                        {% endif %}
                        <a class="text-decoration-none" href="{% url 'securities:security_detail' security.slug %}">
                            {{ security.ticker }}
                        </a>
                    </span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}